[Unit]
Description=Dictd daemon

[Service]
Restart=always
User=dictd
WorkingDirectory=/var/lib/go-dictd/
ExecStart=/usr/bin/go-dictd

[Install]
WantedBy=multi-user.target  
